@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @{
        if (Session["UserLoggedInId"] != null)
        {
            <h1>Welcome, @Session["UserLoggedInName"]</h1>
        }
        else
        {
            <h1>Welcome</h1>
        }
    }
    <p class="lead">Super Forum is a forum developed by Flávio Abreu</p>
    @{
        if (Session["UserLoggedInId"] != null)
        {
            <p>Go to @Html.ActionLink("Topics", "Index", "Topics") to check existing topics or create a new one.</p>
        }
        else
        {
            <p>To start posting, please @Html.ActionLink("Register", "Create", "Users") or @Html.ActionLink("Login", "Login", "Home")</p>
        }
    }
</div>
